* {
    box-sizing: border-box;
}

.App {
    /* text-align: center; */
}

header {
    text-align: center;
    height: 70px;
    background: rgb(50, 50, 119);
    color: white;
    padding: 10px;
    font-size: 2rem;
    box-shadow: 10px black
}