* {
    box-sizing: border-box;
}

body {
    background: grey;
}

.App {
    height: 100%;
    width: 100%;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(30deg, rgb(116, 116, 116), rgb(145, 145, 180));
}

.header {
    text-align: center;
    height: 70px;
    width: 100vw;
    background: rgb(50, 50, 119);
    color: white;
    padding: 10px;
    font-size: 2rem;
    margin-top: -6vh;
    margin-bottom: 7vh;
    letter-spacing: 3px;
    font-weight: bold;
    box-shadow: 2px 2px 5px black;
}

.footer {
    text-align: center;
    height: 70px;
    width: 100vw;
    background: rgb(50, 50, 119);
    color: white;
    padding: 10px;
    font-size: 2rem;
    margin-top: -6vh;
    margin-bottom: 7vh;
    letter-spacing: 3px;
    font-weight: bold;
}

.main {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recent {
    color: white;
    margin-bottom: -2vh;
}

.search {
    color: white;
}

.run-display-all {
    min-height: 150px;
    height: auto;
    width: 85%;
    background: linear-gradient(-50deg, grey, darkgrey);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vh 0 50px 0;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
}

.run-display-search {
    min-height: 250px;
    height: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-50deg, grey, darkgrey);
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 100px 0;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
}

.input {
    height: 35px;
    display: flex;
    justify-content: flex-start;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.watch-list-title {
    margin-top: -10px;
    color: white;
}

.watch-list {
    height: auto;
    min-height: 400px;
    width: 60%;
    background: rgb(43, 43, 43);
    margin-top: -17px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.run {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

button {
    border: none;
    background: #323277;
    height: 30px;
    width: auto;
    padding: 5px;
    margin: 5px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    color: grey
}

.x {
    height: 25px;
    width: 25px;
    position: absolute;
    opacity: 0.8;
}

.twitch-icon-grey {
    opacity: 0.2;
    filter: alpha(opacity=40);
    background-color: #000;
}

.youtube-icon-grey {
    opacity: 0.2;
    filter: alpha(opacity=40);
    background-color: #000;
}

img {
    cursor: pointer;
}