* {
    box-sizing: border-box;
}

.App {
    height: 100vh;
    width: auto;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    text-align: center;
    height: 70px;
    width: 100vw;
    background: rgb(50, 50, 119);
    color: white;
    padding: 10px;
    font-size: 2rem;
    margin-top: -6vh;
    margin-bottom: 7vh;
    letter-spacing: 3px;
    font-weight: bold;
}

.main {
    height: 80%;
    width: 80%;
    background: rgb(50, 50, 119);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recent {
    color: white;
    margin-bottom: -2vh;
}

.run-display-all {
    height: 150px;
    width: 85%;
    background: darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2vh 0 50px 0;
    padding: 10px;
}

.run-display-search {
    height: 150px;
    width: 85%;
    background: darkgray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 100px 0;
    padding: 10px;
}

.watch-list-title {
    margin-top: -50px;
    color: white;
}

.watch-list {
    height: 40vh;
    width: 70%;
    background: gray;
    margin-top: -17px;
    margin-bottom: 10px;
}

.run {
    display: flex;
    flex-direction: column;
}